body{
  background-color: #433D3D;
  color: white;
}

nav a{
  color: white;
  text-decoration: none;
}

.dropdown-menu:hover {display: inline-block;}


.title{
  padding-top: 1em;
  font-family: marzo-w00-regular, fantasy;
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25em;
}

h2{
  text-transform: uppercase;
  font-weight: 200;
}

.main img{
  border: 0.5em solid white;
}

footer{
  text-align: center;
  font-size: 0.75em;
}
