body{
  background-color: #433D3D;
  color: white;
}

.navbar,
.navbar-btn{
  padding-bottom: 0px;
  border-bottom: 0px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #828d9b;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #98a0aa;
}
.dropdown-item{
  color: white;
  text-decoration: none;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-item:hover{
  background-color: #b1c4db;
}

.dropdown-divider{
  border-top: 1px solid #878c91;
  margin: 0em;
}

.title{
  padding-top: 3em;
  font-family: marzo-w00-regular, fantasy;
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25em;
}

h2{
  text-transform: uppercase;
  font-weight: 200;
}

.main img{
  border: 0.5em solid white;
}

footer{
  text-align: center;
  font-size: 0.75em;
}
